#background{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    position: relative;
    z-index: -1;
    top: 0;
    background-color: black;
    border-bottom: 5px solid #00f; /* Base border color */
    box-shadow: 0 0 20px #00f, 0 0 40px #00f, 0 0 60px #00f; /* Glowing effect */
    border-radius: 10px; /* Optional: rounded corners */
}
#navbar{
    position: absolute;
    top: 0;
    z-index: 0;

}
.netflix-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size : 3rem;
  color : #e50914; /* Netflix red */
  text-shadow: 2px 2px 0 #000;
  text-align: center;
  letter-spacing: 0.1rem;
  position : fixed;
  left : 5%;
  top  : 1%;
  margin: 0px;
}
@media (max-width: 768px) {
  .netflix-logo {
    font-size: 2.5rem;
    top : 1%;
    left : 2%;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Pure black */
  color: #fff; /* White text for contrast */
  font-family: Arial, sans-serif;
}
#navright{
    position: fixed;
    right: 10%;
    top: 1%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#language{
    background-color: #000;
    color: #fff;
    font-size: medium;
    border: 2px solid #fff;
}
#signin{
    background-color: #e50914;
    color: #fff;
    font-size: medium;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
#main{
    z-index : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 20%;
    color: white;
    width: 90%;
    padding : 0 20px;
    margin : 0 auto;
}
#emailbar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
    line-height: 1.5;
  }
#emailbar input[type="email"] {
    padding : 1.5rem 0.5rem 1rem;
    font-size: 1rem;
    background-color: #000;
    opacity : 0.8;
    border: 2px solid #fff;
    width : 300px;
    font-size: 1rem;
    font-weight: 400;
    }
    #getstarted{
        background-color: #e50914;
        color: #fff;
        font-size: medium;
        border: none;
        padding: 1.5rem 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        width : 200px;
        font-weight: 400;
    }
    @media (max-width: 768px) {
      #emailbar{
        flex-direction: column;
      }
    }


